@model CapaDatosWebEmpresa.Models.Empleado

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle de Empleado</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaContratación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaContratación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dirección)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.País)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.País)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelDomicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelDomicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Editar" asp-route-id="@Model?.IdEmpleado">Editar</a> | *@
    <a asp-action="Index">Ver Lis.Empleado</a>
</div>
